.alert-purple {
    background-color: #c9adff57;
    color: #7b68ee;
    border-color: #c9adff57;
}

.custom-dropdown-btn {
    background-color: #7b68ee;
    color: white;
    border: none;
    padding: 8px 18px;
    font-weight: 500;
    border-radius: 8px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.custom-dropdown-btn:hover {
    background-color: #5a4fcf;
    color: #e6e6fa;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.custom-dropdown-btn:focus,
.custom-dropdown-btn:active,
.custom-dropdown-btn.show {
    background-color: #5a4fcf !important;
    color: #e6e6fa !important;
    box-shadow: none !important;
    outline: none !important;
}

.custom-dropdown-btn:focus-visible {
    box-shadow: none !important;
}

.custom-dropdown-menu {
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 8px 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.2s ease-in-out;
}

.custom-dropdown-item {
    padding: 8px 20px;
    font-weight: 500;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.custom-dropdown-item:hover {
    background-color: #e6e6fa;
    color: #7b68ee;
}

/* Fade animation only */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-item {
    list-style-type: none;
}

.readonly-input {
    cursor: default;
}

.bg-purple {
    background-color: #9106bc;
    color: white;
}

.bg-blue-en {
    background-color: #1c0ebd;
    color: white;
}

.btn-soft-purple {
    background-color: #7b68ee;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.btn-soft-purple:hover {
    background-color: #7928b7;
}

.add-icon {
    color: #7b68ee;
    transition: color 0.3s;
}

.add-icon:hover {
    color: #7928b7;
    cursor: pointer;
}

.text-purple {
    color: #7b68ee;
}
